.contactsBlock{
    min-height: 100vh;
    background-color: #e0a5c3;
}
.contactsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form{
    /*width: 280px;*/
    /*height: 150px;*/
    width: 50%;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input,.form textarea{
    width: 100%;
}


.sendButton{
    padding: 10px 20px;
    background-color: #35c59a;
}