.myWorksBlock{
    background-color: #1f1f20;
}

.myWorksContainer{
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


.title{
    background-color: #f7f7f8;
}

.title h2 {

}

.works{
    border: 1px solid;
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 628px) {
    .works{
        justify-content: center;
    }
}